#Esse arquivo serve apenas de exemplo para criar um .env para rodar a aplicação
#as informações aqui são fictícias
#no terminal:  "cp .env.example .env"

#Configurações do banco de dados (usando o prisma passe todas as informações do banco na ulr como user e senha)
DATABASE_URL="postgresql://usuario_do_banco:senha_do_banco@link_do_banco/neondb?sslmode=require&channel_binding=require"

# JWT SECRET pra autenticação
JWT_SECRET="coloque_aqui_uma_chave_secreta_para_o_jwt(hexadecimal)"
